* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 3%;
  width: 90vw;
  margin-left: 5%;
}

.down1 {
  height: 70px;
  width: 100%;
  text-align: center;
  color: rgb(63, 61, 61);
}

.link1 {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #232423;
  min-width: 180px;
  box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdowncontent a {
  color: white;
  padding: 0 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
  font-weight: 700;

}

.dropdowncontent a:hover {
  background-color: #11ca0a;
  font-size: larger;
}

.link1 :hover .dropdowncontent {
  display: block;
}

.dropdowncontent:hover .link1 {
  background-color: #12e647;
}

.navbar {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-top: 1px;
  width: 100%;

}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  gap: 40px;
  list-style: none;
  opacity: 0.7;

}

a {
  text-decoration: none;
  color: black;

}

.teamflow h2 {
  margin: 0 200px 0 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.getlogin {
  display: flex;
  gap: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 70px;

}

.getstarted {
  height: 45px;
  width: 190px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ECE5FF;
  color: #794CFF;
}

.login {
  font-size: 18px;
  margin-top: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bothsaveget {
  margin-left: 550px;
  margin-top: 100px;
  display: flex;

}

.save {
  border-radius: 20px;
  width: 80px;
  height: 25px;
  text-align: center;
  align-content: center;
  background-color: #81C43B;
  color: white;

}

.getaccount59 {
  width: 150px;
  height: 25px;
  text-align: center;
  align-content: center;
}

.saveandget {
  display: flex;
  background-color: #F2F9EB;
  border-radius: 20px;
}

.h1managetheteam {
  width: 38vw;
  text-align: center;
  font-size: 40px;
  margin-left: 400px;
  opacity: 0.7;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 10px;

}

.lorem1 {
  margin-left: 500px;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;

}

#email {
  margin-left: 550px;
  margin-top: 10px;
  height: 35px;
  width: 200px;
}


.mailbox {
  display: flex;
}

.tryitfree {
  margin-top: 11px;
  height: 34px;
  width: 100px;
  text-align: center;
  padding-top: 5px;
  background-color: #794CFF;
  color: white;
}

.graph1 {
  margin: 10px 400px;
  width: 730px;
}

.trustedbyover {
  margin: 10px 600px;
  width: 400px;
  font-size: 13px;

}

.socialmedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 700px;
  margin-left: 380px;
  margin-top: 20px;

}

.griditem {
  height: 50px;
  width: 170px;
  column-gap: 50px;

}

.surweybox {
  height: 70vh;
  width: 100%;
  margin-top: 20px;
  background-color: #f1eff4;
  display: flex;
  gap: 100px;

}

#commentphoto {
  margin-top: 30px;
  width: 30vw;
  height: 60vh;
  margin-left: 8%;
  animation-name: example;
  animation-duration: 4s;

}

.surway1 {

  width: 340px;
  height: 110px;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
  background-color: #F6F3FC;
  opacity: 0.7;
}

.allsurway {
  height: 300px;
  width: 400px;
  margin-left: 150px;
  margin-top: 25px;

}

.makeeasier {
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  opacity: 0.8;
}

.h2makeyour {
  margin: 10px 490px;
  opacity: 0.7;
  font-size: 23px;
}

.secondgrahy {
  width: 100%;
  display: flex;
  background-color: #F0EBFA;
}

.graphytheory {
  width: 40%;
  align-content: center;
  justify-content: center;
  padding-left: 60px;
  opacity: 0.9;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.h2weworkhow {
  font-size: 56px;
  opacity: 0.8;
}

#graphimg {
  padding: 30px 100px;
}

.getbutton {
  height: 40px;
  width: 120px;
  background-color: #796EFF;
  color: white;
}

.customerlove {
  width: 27%;
  text-align: center;
  margin-left: 500px;
}

.h2customerlove {
  width: 20vw;
  margin-left: 30px;
  margin-top: 20px;
}

.customercircle {
  display: flex;
  width: 60%;
  margin: 3% 20%;
}

.circle2 {
  margin-left: 150px;
}

.circle3 {
  margin-left: 150px;
}

.circletext1 {
  padding: 5px 10px;
  opacity: 0.8;
}

.purplebox {
  width: 50vw;
  height: 20vh;
  margin: 0% 20%;
  display: flex;
  background-color: #796EFF;
  border-radius: 15px;
  gap: 10px;
}

.purplebox h2 {
  margin: 5% 10%;
  width: 300px;
  color: white;
}

.purplebox img {
  width: 100px;
  height: 30px;
  margin-top: 55px;
}

.viewmore {
  display: none;
}

.footer {
  margin-top: 60px;
  width: 100%;
  height: 50vh;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8%;
  padding-top: 50px;
  padding-left: 100px;
  background-color: #1D2830;
  color: white;

}

.allfooter {

  height: 30px;

}

.footerphoto1 {
  width: 75%;
}